@import '@styles/variables.scss';

.date-picker {
    position: relative;
    width: 160px;
    font-size: 14px;
    color: $black-600;

    &.disabled{
      .input-label, .input-container{
        cursor: not-allowed;
      } 
    }
    &:not(.disabled){
      .input-label, .input-container{
        cursor: pointer;
      } 
    }

    .input-label{
      border-radius: 0.5rem 0.5rem 0 0;
      font-size: 10px;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      margin-left: 0.5rem;
      background-color: $white-50;
      color: $black-300;
    }

    .input-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      border-radius: 8px;
      background: $white-50;
      margin-bottom: 0.25rem;
      input {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        cursor: inherit;
      }
    }
    
    .calendar-container {
      background: $white-50;
      border-radius: 1rem;
      padding: 1rem;
      width: 240px;
      box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
      font-size: 0.75rem;
      display: flex;
      flex-direction: column;
      row-gap: 0.75rem;
      .calendar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
  
      .calendar-body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        row-gap: 0.25rem;
  
        .day-name {
          color: var(--primary-500, $blue-600);
          text-align: center;
          font-weight: 600;
          height: 1.5rem;
          width: 1.5rem;
        }
  
        .day {
          text-align: center;
          padding: 0.25rem;
          height: 1.5rem;
          width: 1.5rem;
          line-height: 1.5rem;
          border-radius: 1rem;
          cursor: pointer;
          transition: background-color 0.2s;
  
          &:hover {
            background-color: var(--primary-500, $blue-100);
            color: $black-600;
          }
  
          &.in-range {
            background-color: var(--primary-500, $blue-100);
          }
  
          &.disabled {
            pointer-events: none;
            color: $black-200;
          }
  
          &.selected {
            background-color: var(--primary-500, $blue-600);
            color: #fff;
          }
        }
      }
    } 
  }
  