<div class="date-picker" [ngClass]="{'disabled':disabled}">
  @if (label) {
  <span (click)="toggleCalendar()" class="input-label">{{ label }}</span>
  }

  <div class="input-container" (click)="toggleCalendar()">
    @if (iconPosition === 'before' && !hideIcon) {
    <Icon [name]="iconName" [style]="iconStyle" />
    }
    <input type="text" [value]="selectedDate ? (selectedDate | date: dateFormat) : ''" [placeholder]="placeholder"
      readonly (focus)="toggleCalendar();focus.emit($event)" (blur)="blur.emit($event)" />
    @if (iconPosition === 'after' && !hideIcon) {
    <Icon [name]="iconName" [style]="iconStyle" />
    }
  </div>


  @if (isCalendarVisible) {
  <div class="calendar-container">
    <div class="calendar-header">
      <IconButton [style]="defaultIconButtonStyle.style" iconName="keyboard_double_arrow_left"
        [iconStyle]="defaultIconButtonStyle.iconStyle" (onClick)="changeMonth(-1)" />
      <span>{{ months[currentMonth] }} {{ currentYear }}</span>
      <IconButton [style]="defaultIconButtonStyle.style" iconName="keyboard_double_arrow_right"
        [iconStyle]="defaultIconButtonStyle.iconStyle" (onClick)="changeMonth(1)" />
    </div>

    <!-- Calendar Days -->
    <div class="calendar-body">
      <div class="day-name" *ngFor="let day of ['S', 'M', 'T', 'W', 'T', 'F', 'S']">{{ day }}</div>
      @for (date of calendarDays; track $index){
      @if (date) {
      <div class="day" [ngClass]="{
                'selected': isSelectedDate(date),
                'today': isToday(date),
                'disabled': isDisabledDate(date)
              }" (click)="selectDate(date)">
        {{ date }}
      </div>
      }@else {
      <div></div>
      }
      }
    </div>
  </div>
  }
</div>