<div class="inline-flex mb-8 sticky top-8 bg-white-0 px-16 py-8 rounded-md" style="z-index: 1;">
    <GToggle size="medium" theme="info" afterLabel="Square" beforeLabel="Rounded" [checked]="isPrimaryBorderType" (onChange)="isPrimaryBorderType = !isPrimaryBorderType"/>
</div>
<div class="flex flex-col gap-x-12">
    
    @for (theme of themes; track $index;){
        <div class="grid grid-col-6 gap-x-16 gap-y-8">
            @for (type of types; track $index){
            @for (size of sizes; track $index; let e = $even){
            <div [attr.data-aos]="e ? 'fade-up-right' : 'fade-up-left'" class="h-100 w-100 flex flex-col bg-white-200 rounded-md p-12 gap-x-8">
                <div class="flex-row-reverse flex">
                    <GIcon name="content_copy" [style]="{fontSize: '14px', cursor: 'pointer'}"
                        (click)="copySnippet($event, {size, type, theme})">
                    </GIcon>
                </div>
                <div class="flex flex-row items-center justify-center flex-1">
                    <GButton [border]="isPrimaryBorderType ? 'primary': 'secondary'" title="Click Me" [size]="size" [type]="type" [theme]="theme" [disabled]="theme === 'disabled'"/>
                </div>
            </div>
            }

            @for (size of sizes; track $index; let e = $even){
            <div [attr.data-aos]="!e ? 'fade-up-right' : 'fade-up-left'" class="h-100 w-100 flex flex-col bg-white-200 rounded-md p-12 gap-x-8">
                <div class="flex-row-reverse flex">
                    <GIcon name="content_copy" [style]="{fontSize: '14px', cursor: 'pointer'}"
                        (click)="copySnippet($event, {size, type, theme, icon: true})">
                    </GIcon>
                </div>
                <div class="flex flex-row items-center justify-center flex-1">
                    <GButton [border]="isPrimaryBorderType ? 'primary': 'secondary'" [iconButton]="true" iconName="search" [size]="size" [type]="type" [theme]="theme" [disabled]="theme === 'disabled'"/>
                </div>
            </div>
            }
            }
        </div>
    }
</div>