<div class="date-range-picker">

  <div class="top-container">
    <!-- Tab Toggle -->
    <div class="toggle-container">
      @if (fromDate || toDate) {
        <IconButton 
        [style]="{'box-shadow': 'none', color: (fromDate && toDate) ? '#333333': '#777777', 'border-radius':'1rem', height: '1.5rem', width: '1.5rem', marginRight: '0.25rem'}"
        [iconStyle]="{fontSize: '0.75rem'}" iconName="save"
        [disabled]="(!fromDate || !toDate)"
        (onClick)="save()"
        />
      }
      <div 
        class="toggle-button" 
        [ngClass]="{'active': activeTab === 'from'}"
        (click)="toggleTab('from')"
      >
        @if (activeTab === 'from'){
          {{'From'}}
        } @else {
          {{(fromDate | date: dateFormat)?? 'From'}}
        }
      </div>
      <div 
        class="toggle-button" 
        [ngClass]="{'active': activeTab === 'to'}"
        (click)="toggleTab('to')">
        @if (activeTab === 'to'){
          {{'To'}}
        } @else {
          {{(toDate | date: dateFormat)?? 'To'}}
        }
      </div>
    </div>
    

    <!-- Selected Date Display -->
    <div class="input-container">
      <label>{{ activeTab === 'from' ? 'From' : 'To' }}</label>
      <input type="text" 
      [value]="activeTab === 'from' ? 
        (fromDate | date: dateFormat) : 
        (toDate | date: dateFormat)" [placeholder]="dateFormat"
        (keydown)="onKeydown($event)" 
      />
    </div>
  </div>

  <!-- Calendar Navigation -->
  <div class="calendar-container">
    <div class="calendar-header">
      <IconButton 
        [style]="defaultIconButtonStyle.style"
        iconName="keyboard_double_arrow_left" 
        [iconStyle]="defaultIconButtonStyle.iconStyle"
        (onClick)="changeMonth(-1)"
      />
      <span>{{ months[currentMonth] }} {{ currentYear }}</span>
      <IconButton 
        [style]="defaultIconButtonStyle.style"
        iconName="keyboard_double_arrow_right" 
        [iconStyle]="defaultIconButtonStyle.iconStyle"
        (onClick)="changeMonth(1)"
      />
    </div>

    <!-- Calendar Days -->
    <div class="calendar-body">
      <div class="day-name" *ngFor="let day of ['S', 'M', 'T', 'W', 'T', 'F', 'S']">{{ day }}</div>
      @for (date of calendarDays; track $index){
        @if (date) {
          <div 
            class="day" 
            [ngClass]="{
              'selected': (activeTab === 'from' && fromDate?.getDate() === date && fromDate?.getMonth() === currentMonth && fromDate?.getFullYear() === currentYear) || (activeTab === 'to' && toDate?.getDate() === date && toDate?.getMonth() === currentMonth && toDate?.getFullYear() === currentYear),
              'disabled': isDisabledDate(date),
              'in-range': isInRange(date),
            }"
            (mouseenter)="onDateHover(date)" 
            (mouseleave)="onDateLeave()"
            (click)="selectDate(date)">
            {{ date }}
          </div>
        }@else {
          <div></div>
        }
      }
    </div>
  </div>
</div>
