@import "@styles/variables.scss";

.date-range-picker {
  background: $white-50;
  border-radius: 1rem;
  padding: 1rem;
  width: 240px;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;

  .top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.75rem;

    .toggle-container {
      display: flex;
      background-color: var(--primary-500, $blue-600); // Blue background for the entire toggle
      border-radius: 1rem;
      padding: 0.25rem;
      width: 100%;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

      .toggle-button {
        flex: 1;
        padding: 0.25rem 0.5rem;
        text-align: center;
        border-radius: 1rem;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &.active {
          background-color: white;
          color: $black-600; // Blue text for the active tab
        }
      }
    }

    .input-container {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        color: var(--primary-500, $blue-600);
        font-weight: 600;
      }

      input {
        border: none;
        width: 100%;

        &:focus {
          outline: none;
        }

      }
    }

  }
  .calendar-container {
    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .calendar-body {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      row-gap: 0.25rem;

      .day-name {
        color: var(--primary-500, $blue-600);
        text-align: center;
        font-weight: 600;
        height: 1.5rem;
        width: 1.5rem;
      }

      .day {
        text-align: center;
        padding: 0.25rem;
        height: 1.5rem;
        width: 1.5rem;
        line-height: 1.5rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: var(--primary-500, $blue-100);
          color: $black-600;
        }

        &.in-range {
          background-color: var(--primary-500, $blue-100);
        }

        &.disabled {
          pointer-events: none;
          color: $black-200;
        }

        &.selected {
          background-color: var(--primary-500, $blue-600);
          color: #fff;
        }
      }
    }
  }
}