<div class="flex flex-col gap-x-16">
    <div class="flex gap-y-8">
      <GInput label="Email" secondary placeholder="example@gmail.com" [(ngModel)]="title">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput label="Email" secondary placeholder="example@gmail.com" [(ngModel)]="title" theme="info">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span error> Required</span>
      </GInput>
      <br>
      <GInput label="Email" secondary placeholder="example@gmail.com" [(ngModel)]="title" theme="success">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput label="Email" secondary placeholder="example@gmail.com" [(ngModel)]="title" theme="warn">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput label="Email" secondary placeholder="example@gmail.com" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <GInput label="Email" secondary [disabled]="true" placeholder="example@gmail.com" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
    </div> 

    <div class="flex gap-y-8">
      <GInput secondary placeholder="example@gmail.com" [(ngModel)]="title">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" prefix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput secondary placeholder="example@gmail.com" [(ngModel)]="title" theme="info">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" prefix/>
        <span error> Required</span>
      </GInput>
      <br>
      <GInput secondary placeholder="example@gmail.com" [(ngModel)]="title" theme="success">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" prefix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput secondary placeholder="example@gmail.com" [(ngModel)]="title" theme="warn">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" prefix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput secondary placeholder="example@gmail.com" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" prefix/>
        <span hint> Required</span>
      </GInput>
      <GInput secondary [disabled]="true" placeholder="example@gmail.com" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" prefix/>
        <span hint> Required</span>
      </GInput>
    </div>

    <div class="flex gap-y-8">
      <GInput secondary placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput secondary placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title" theme="info">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span error> Required</span>
      </GInput>
      <br>
      <GInput secondary placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title" theme="success">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput secondary placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title" theme="warn">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput secondary placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <GInput secondary [disabled]="true" placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
    </div>

    <div class="flex gap-y-8">
      <GInput label="Email" placeholder="example@gmail.com" [(ngModel)]="title">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput label="Email" placeholder="example@gmail.com" [(ngModel)]="title" theme="info">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span error> Required</span>
      </GInput>
      <br>
      <GInput label="Email" placeholder="example@gmail.com" [(ngModel)]="title" theme="success">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput label="Email" placeholder="example@gmail.com" [(ngModel)]="title" theme="warn">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput label="Email" placeholder="example@gmail.com" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <GInput label="Email" [disabled]="true" placeholder="example@gmail.com" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
    </div> 
  
    <div class="flex gap-y-8">
      <GInput placeholder="example@gmail.com" [(ngModel)]="title">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput placeholder="example@gmail.com" [(ngModel)]="title" theme="info">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span error> Required</span>
      </GInput>
      <br>
      <GInput placeholder="example@gmail.com" [(ngModel)]="title" theme="success">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput placeholder="example@gmail.com" [(ngModel)]="title" theme="warn">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput placeholder="example@gmail.com" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <GInput placeholder="example@gmail.com"  [disabled]="true" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
    </div>

    <div class="flex gap-y-8">
      <GInput placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title" theme="info">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span error> Required</span>
      </GInput>
      <br>
      <GInput placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title" theme="success">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title" theme="warn">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <br>
      <GInput placeholder="example@gmail.com" appearance="fill" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
      <GInput placeholder="example@gmail.com" appearance="fill" [disabled]="true" [(ngModel)]="title" theme="alert">
        <GButton [style]="{background : 'transparent'}" iconButton size="small" iconName="search" suffix/>
        <span hint> Required</span>
      </GInput>
    </div>
  </div>
