<div class="flex flex-row bg-white-100">
  <div class="flex flex-col bg-white-0 sticky top-0 left-0 bottom-0" style="width: 20vw; height: 100vh">
    <div class="flex flex-row py-8 px-24">
      <h1>Gama</h1><h6>UI</h6> 
    </div>
    <div class="flex flex-col gap-x-8 px-24">
      @for (page of pages; track $index){
        <div class="p-8 bg-white-600 rounded-md black-600 fs-14 cursor-pointer page-link" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"  [routerLink]="page.link">{{page.title}} </div>
      }
    </div>
  </div>
  <div class="p-16" style="width: 72vw; box-sizing: border-box;">
    <router-outlet />
  </div>
</div>

