<button class="{{gamaButtonClass}} {{iconButton?'icon-button':''}}" (click)="onClick.emit($event)" [disabled]="disabled" [style]="style">
    @if (iconButton){
        <span class="material-{{iconType}}-outlined gama-icon" [style]="iconStyle">
            {{iconName}}
        </span>
    } @else{
        @if(prefixIcon){
            <span class="material-{{prefixIcon.type ?? 'symbols'}}-outlined gama-icon" [style]="prefixIcon.style">
                {{prefixIcon.name}}
            </span>
        }
        @if(title){
            {{title}}
        }
        @if(suffixIcon){
            <span class="material-{{suffixIcon.type ?? 'symbols'}}-outlined gama-icon" [style]="suffixIcon.style">
                {{suffixIcon.name}}
            </span>
        }
    }
</button>
