@import '@styles/variables.scss';

// small button
$smallButtonSize : var(--gama-button-small--size, 1.5rem); // 24px
$smallButtonPadding : var(--gama-button-small--padding, 0.25rem); // 4px padding
$smallButtonBorderRadius : var(--gama-button-small--border-radius, 0.25rem); // 4px border radius
$smallButtonIconSize : var(--gama-button-small--icon-size, 1rem); // 16px icon size
$smallButtonColumnGap : var(--gama-button-small--column-gap, 0.125rem); // 2px gap between icon and text
$smallButtonFontSize : var(--gama-button-small--font-size, 0.75rem); // 12px font size

// medium button
$mediumButtonSize : var(--gama-button-medium--size, 2.25rem); // 36px
$mediumButtonPadding : var(--gama-button-medium--padding, 0.375rem); // 6px padding
$mediumButtonBorderRadius : var(--gama-button-medium--border-radius, 0.25rem); // 4px border radius
$mediumButtonIconSize : var(--gama-button-medium--icon-size, 1.25rem); // 20px icon size
$mediumButtonColumnGap : var(--gama-button-medium--column-gap, 0.25rem); // 4px gap between icon and text
$mediumButtonFontSize : var(--gama-button-medium--font-size, 0.875rem); // 14px font size

// large button
$largeButtonSize : var(--gama-button-large--size, 2.5rem); // 40px
$largeButtonPadding : var(--gama-button-large--padding, 0.5rem); // 8px padding
$largeButtonBorderRadius : var(--gama-button-large--border-radius, 0.25rem); // 4px border radius
$largeButtonIconSize : var(--gama-button-large--icon-size, 1.375rem); // 22px icon size
$largeButtonColumnGap : var(--gama-button-large--column-gap, 0.375rem); // 6px gap between icon and text
$largeButtonFontSize : var(--gama-button-large--font-size, 1rem); // 16px font size


// info icon button themes
$info-background-color: var(--gama-button-theme-info--background-color, $blue-600);
$info-color: var(--gama-button-theme-info--color, $white-0);

$info-hover-background-color: var(--gama-button-theme-info-hover--background-color, $blue-700);
$info-hover-color: var(--gama-button-theme-info-hover--color, $white-0);
$info-hover-box-shadow: var(--gama-button-theme-info-hover--box-shadow, 0px 0.125rem 0.125rem 0px $blue-700);
$tertiary-info-hover-background-color: var(--gama-button-theme-tertiary-info-hover--background-color, $blue-0);
$tertiary-info-hover-box-shadow: var(--gama-button-theme-tertiary-info-hover--box-shadow, 0px 0.125rem 0.125rem 0px $blue-700);

$info-active-background-color: var(--gama-button-theme-info-active--background-color, $blue-800);
$info-active-color: var(--gama-button-theme-info-active--color, $white-0);
$info-active-box-shadow: var(--gama-button-theme-info-hover--box-shadow, 0px 0.125rem 0.125rem 0px $blue-800);
$tertiary-info-active-background-color: var(--gama-button-theme-tertiary-info-active--background-color, $blue-100);
$tertiary-info-active-box-shadow: var(--gama-button-theme-tertiary-info-active--box-shadow, 0px 0.125rem 0.125rem 0px $blue-800);

// success icon button themes
$success-background-color: var(--gama-button-theme-success--background-color, $green-600);
$success-color: var(--gama-button-theme-success--color, $white-0);

$success-hover-background-color: var(--gama-button-theme-success-hover--background-color, $green-700);
$success-hover-color: var(--gama-button-theme-success-hover--color, $white-0);
$success-hover-box-shadow: var(--gama-button-theme-success-hover--box-shadow, 0px 0.125rem 0.125rem 0px $green-700);
$tertiary-success-hover-background-color: var(--gama-button-theme-tertiary-success-hover--background-color, $green-0);
$tertiary-success-hover-box-shadow: var(--gama-button-theme-tertiary-success-hover--box-shadow, 0px 0.125rem 0.125rem 0px $green-700);

$success-active-background-color: var(--gama-button-theme-success-active--background-color, $green-800);
$success-active-color: var(--gama-button-theme-success-active--color, $white-0);
$success-active-box-shadow: var(--gama-button-theme-success-hover--box-shadow, 0px 0.125rem 0.125rem 0px $green-800);
$tertiary-success-active-background-color: var(--gama-button-theme-tertiary-success-active--background-color, $green-100);
$tertiary-success-active-box-shadow: var(--gama-button-theme-tertiary-success-active--box-shadow, 0px 0.125rem 0.125rem 0px $green-800);

$warn-background-color: var(--gama-button-theme-warn--background-color, $yellow-600);
$warn-color: var(--gama-button-theme-warn--color, $white-0);

$warn-hover-background-color: var(--gama-button-theme-warn-hover--background-color, $yellow-700);
$warn-hover-color: var(--gama-button-theme-warn-hover--color, $white-0);
$warn-hover-box-shadow: var(--gama-button-theme-warn-hover--box-shadow, 0px 0.125rem 0.125rem 0px $yellow-700);
$tertiary-warn-hover-background-color: var(--gama-button-theme-tertiary-warn-hover--background-color, $yellow-0);
$tertiary-warn-hover-box-shadow: var(--gama-button-theme-tertiary-warn-hover--box-shadow, 0px 0.125rem 0.125rem 0px $yellow-700);

$warn-active-background-color: var(--gama-button-theme-warn-active--background-color, $yellow-800);
$warn-active-color: var(--gama-button-theme-warn-active--color, $white-0);
$warn-active-box-shadow: var(--gama-button-theme-warn-hover--box-shadow, 0px 0.125rem 0.125rem 0px $yellow-800);
$tertiary-warn-active-background-color: var(--gama-button-theme-tertiary-warn-active--background-color, $yellow-100);
$tertiary-warn-active-box-shadow: var(--gama-button-theme-tertiary-warn-active--box-shadow, 0px 0.125rem 0.125rem 0px $yellow-800);

$alert-background-color: var(--gama-button-theme-alert--background-color, $red-600);
$alert-color: var(--gama-button-theme-alert--color, $white-0);

$alert-hover-background-color: var(--gama-button-theme-alert-hover--background-color, $red-700);
$alert-hover-color: var(--gama-button-theme-alert-hover--color, $white-0);
$alert-hover-box-shadow: var(--gama-button-theme-alert-hover--box-shadow, 0px 0.125rem 0.125rem 0px $red-700);
$tertiary-alert-hover-background-color: var(--gama-button-theme-tertiary-alert-hover--background-color, $red-0);
$tertiary-alert-hover-box-shadow: var(--gama-button-theme-tertiary-alert-hover--box-shadow, 0px 0.125rem 0.125rem 0px $red-700);

$alert-active-background-color: var(--gama-button-theme-alert-active--background-color, $red-800);
$alert-active-color: var(--gama-button-theme-alert-active--color, $white-0);
$alert-active-box-shadow: var(--gama-button-theme-alert-hover--box-shadow, 0px 0.125rem 0.125rem 0px $red-800);
$tertiary-alert-active-background-color: var(--gama-button-theme-tertiary-alert-active--background-color, $red-100);
$tertiary-alert-active-box-shadow: var(--gama-button-theme-tertiary-alert-active--box-shadow, 0px 0.125rem 0.125rem 0px $red-800);

$disabled-icon-button-background-color: var(--gama-button-theme-disabled--background-color, $white-600);
$disabled-icon-button-color: var(--gama-button-theme-disabled--color, $white-0);

@mixin gama-icon-size-mixin($size){
    height: $size;
    width: $size;
    font-size: $size;
    display: block;
}
@mixin gama-icon-button-size-mixin($buttonSize, $padding, $borderRadius, $iconSize, $columnGap, $fontSize){
    height: $buttonSize;
    width: $buttonSize;
    padding: $padding;
    border-radius: $borderRadius;
    column-gap: $columnGap;
    font-size: $fontSize ;
    .gama-icon{
        @include gama-icon-size-mixin($iconSize)
    }
}

@mixin gama-icon-button-theme-mixin($bgColor, $border, $color, $boxShadow){
    background-color: $bgColor;
    border: $border;
    color: $color;
    box-shadow: $boxShadow;
}

.gama-button{
    outline: none;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $white-0;
    box-shadow: 0 0.125rem 0.25rem rgba(51, 51, 51, 0.016);
    color: $black-600;
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    &:disabled{
        cursor: not-allowed;
    }

    // size classes
    &.small{
       @include gama-icon-button-size-mixin($smallButtonSize, $smallButtonPadding, $smallButtonBorderRadius, $smallButtonIconSize, $smallButtonColumnGap, $smallButtonFontSize);
    }
    &.medium{
        @include gama-icon-button-size-mixin($mediumButtonSize, $mediumButtonPadding, $mediumButtonBorderRadius, $mediumButtonIconSize, $mediumButtonColumnGap, $mediumButtonFontSize);
    }
    &.large{
        @include gama-icon-button-size-mixin($largeButtonSize, $largeButtonPadding, $largeButtonBorderRadius, $largeButtonIconSize, $largeButtonColumnGap, $largeButtonFontSize);
    }

    &:not(.icon-button){
        width: auto;

        &.small{
            padding-inline: calc($smallButtonSize / 2);
        }
        &.medium{
            padding-inline: calc($mediumButtonSize / 3);
        }
        &.large{
            padding-inline: calc($largeButtonSize / 4);
        }
    }


    &.primary{
        &.info{
            @include gama-icon-button-theme-mixin($info-background-color, none, $info-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($info-hover-background-color, none, $info-hover-color, $info-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($info-active-background-color, none, $info-active-color, $info-active-box-shadow);
            }
        }
        &.success{
            @include gama-icon-button-theme-mixin($success-background-color, none, $success-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($success-hover-background-color, none, $success-hover-color, $success-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($success-active-background-color, none, $success-active-color, $success-active-box-shadow);
            }
        }
        &.warn{
            @include gama-icon-button-theme-mixin($warn-background-color, none, $warn-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($warn-hover-background-color, none, $warn-hover-color, $warn-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($warn-active-background-color, none, $warn-active-color, $warn-active-box-shadow);
            }
        }
        &.alert{
            @include gama-icon-button-theme-mixin($alert-background-color, none, $alert-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($alert-hover-background-color, none, $alert-hover-color, $alert-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($alert-active-background-color, none, $alert-active-color, $alert-active-box-shadow);
            }
        }
        &:disabled, &:disabled:hover, &:disabled:active{
            @include gama-icon-button-theme-mixin($disabled-icon-button-background-color, none, $disabled-icon-button-color, none);
        }
    }

    &.secondary{
        &.info{
            @include gama-icon-button-theme-mixin($white-0, 1px solid $info-background-color, $info-background-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($white-0, 1px solid $info-hover-background-color, $info-hover-background-color, $info-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($white-0, 1px solid $info-active-background-color, $info-active-background-color, $info-active-box-shadow);
            }
        }
        &.success{
            @include gama-icon-button-theme-mixin($white-0, 1px solid $success-background-color, $success-background-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($white-0, 1px solid $success-hover-background-color, $success-hover-background-color, $success-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($white-0, 1px solid $success-active-background-color, $success-active-background-color, $success-active-box-shadow);
            }
        }
        &.warn{
            @include gama-icon-button-theme-mixin($white-0, 1px solid $warn-background-color, $warn-background-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($white-0, 1px solid $warn-hover-background-color, $warn-hover-background-color, $warn-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($white-0, 1px solid $warn-active-background-color, $warn-active-background-color, $warn-active-box-shadow);
            }
        }
        &.alert{
            @include gama-icon-button-theme-mixin($white-0, 1px solid $alert-background-color, $alert-background-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($white-0, 1px solid $alert-hover-background-color, $alert-hover-background-color, $alert-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($white-0, 1px solid $alert-active-background-color, $alert-active-background-color, $alert-active-box-shadow);
            }
        }
        &:disabled, &:disabled:hover, &:disabled:active{
            @include gama-icon-button-theme-mixin($white-0, 1px solid $disabled-icon-button-background-color, $disabled-icon-button-background-color, none);
        }
        
    }

    &.tertiary{
        &.info{
            @include gama-icon-button-theme-mixin(transparent, none, $info-background-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($tertiary-info-hover-background-color, none, $info-background-color, $tertiary-info-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($tertiary-info-hover-background-color, none, $info-active-background-color, $tertiary-info-active-box-shadow);
            }
        }
        &.success{
            @include gama-icon-button-theme-mixin(transparent, none, $success-background-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($tertiary-success-hover-background-color, none, $success-background-color, $tertiary-success-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($tertiary-success-hover-background-color, none, $success-active-background-color, $tertiary-success-active-box-shadow);
            }
        }
        &.warn{
            @include gama-icon-button-theme-mixin(transparent, none, $warn-background-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($tertiary-warn-hover-background-color, none, $warn-background-color, $tertiary-warn-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($tertiary-warn-hover-background-color, none, $warn-active-background-color, $tertiary-warn-active-box-shadow);
            }
        }
        &.alert{
            @include gama-icon-button-theme-mixin(transparent, none, $alert-background-color, none);
            &:hover{
                @include gama-icon-button-theme-mixin($tertiary-alert-hover-background-color, none, $alert-background-color, $tertiary-alert-hover-box-shadow);
            }
            &:active{
                @include gama-icon-button-theme-mixin($tertiary-alert-hover-background-color, none, $alert-active-background-color, $tertiary-alert-active-box-shadow);
            }
        }
        &:disabled, &:disabled:hover, &:disabled:active{
            @include gama-icon-button-theme-mixin(transparent, none, $disabled-icon-button-background-color, none);
        }
        
    }
}
