
<div class="flex flex-col gap-x-36">
    @for (size of sizes; track $index; let e = $even){
        <div [attr.data-aos]="e ? 'fade-up-right' : 'fade-up-left'" class="grid grid-col-3 gap-16">
            @for(theme of themes; track theme; let idx = $index){
              <div class="h-100 flex bg-white-200 rounded-md p-16 flex-col gap-x-8">
                <div class="flex-row-reverse flex">
                    <GIcon name="content_copy" [style]="{fontSize: '14px', cursor: 'pointer'}"
                        (click)="copySnippet($event, {size, theme, idx})">
                    </GIcon>
                </div>
                <div class="flex flex-row items-center justify-center flex-1">
                  @if(size === 'small'){
                    <GToggle size="small" [theme]="theme" [disabled]="theme==='disabled'" />
                  } 
                  @else if(size === 'large'){
                    @if(idx === 0 || idx === 3){
                        <GToggle beforeLabel="before" [theme]="theme" size="large" [disabled]="theme==='disabled'"/>
                    } 
                    @else if(idx === 1 || idx === 4){
                        <GToggle afterLabel="After" [theme]="theme" size="large" [disabled]="theme==='disabled'"/>
                    }
                    @else{
                        <GToggle beforeLabel="Before" afterLabel="After" [theme]="theme" size="large" [disabled]="theme==='disabled'"/>
                    }
                  }
                  @else{
                    <GToggle [theme]="theme" size="medium" [disabled]="theme==='disabled'"/>
                  }
            
                </div>
            </div>
            }
          </div>
    }
</div>



